
.nav {
    position:relative;
}

.dropdown {
    border:1px solid transparent;
    border-radius:4px;
    width:180px; 
    color: crimson;   
}
.dropdown .a {
    color: crimson;   
}
.dropdown-menu>li>a {
    color: crimson;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: relative;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: relative;
    top: -12px;
    right: 14px;
    z-index: 9;
}